@{
    ViewBag.Title = "O nama";
}
<h2>@ViewBag.Title.</h2>
<h3>Ko smo mi?</h3>

<h4>Health Care uvodi inovacije u zdravstvo i obezbeđuje najbolju brigu za svoje klijente. Zdravlje na 1. mestu!</h4>
<hr />
<div id="banner" style="overflow: hidden;justify-content:space-around;">
    <div class="images" style="max-width: 25%;max-height: 25%;display: inline-block;">
        <img src="~/Files/mision.png">
        <p class="text">MISIJA</p>
        <p class="text1">Prevencija i lečenje<br />savremenom opremom</p>
    </div>

    <div class="images" style="max-width: 100%;max-height: 100%;display: inline-block;">
        <img src="~/Files/vision.png">
        <p class="text">VIZIJA</p>
        <p class="text1">Poboljšanje zdravlja<br />i niži troškovi</p>
    </div>

    <div class="images" style="max-width: 25%;max-height: 25%;display: inline-block;">
        <img src="~/Files/values.png">
        <p class="text">VREDNOSTI</p>
        <p class="text1">Profesionalizam, briga,<br />integritet i kvalitet</p>
    </div>

    <div class="images" style="max-width: 25%;max-height: 25%;display: inline-block;">
        <img src="~/Files/goals.png">
        <p class="text">CILJEVI</p>
        <p class="text1">Napraviti revoluciju<br />u zdravstvu</p>
    </div>
</div>

