@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<h3>Kontaktirajte Health Care</h3>

<address>
    Republika Srbija<br />
    21000 Novi Sad<br />
    Stojana Novakovića 4<br />
    <abbr title="Telefon">Tel:</abbr>
    021-666-666
</address>
<hr />
<address>
    <strong>Korisnička podrška:</strong>   <a href="mailto:podrska@gmail.com">podrska@gmail.com</a><br /><br />
    <strong>Tehnička služba:</strong>   <a href="mailto:tehnicka@gmail.com">tehnicka@gmail.com</a><br /><br />
    <strong>Patronaža:</strong> <a href="mailto:patronaza@gmail.com">patronaza@gmail.com</a><br/><br />
    <strong>Informacije:</strong> <a href="mailto:informacije@gmail.com">informacije@gmail.com</a><br /><br />
</address>